<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <title>{% block title %}{% endblock %}</title>
  <meta name="Description" content="Some algorithmic problems.">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/normalize.css@8.0.1/normalize.min.css" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.css" integrity="sha384-9eLZqc9ds8eNjO3TmqPeYcDj8n+Qfa4nuSiGYa6DjLNcv9BtN69ZIulL9+8CqC9Y" crossorigin="anonymous">
  <script defer src="https://cdn.jsdelivr.net/npm/katex@0.10.0/dist/katex.min.js" integrity="sha384-K3vbOmF2BtaVai+Qk37uypf7VrgBubhQreNQe9aGsz9lB63dIFiQVlJbr92dw2Lx" crossorigin="anonymous"></script>
  <script
  src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha256-3edrmyuQ0w65f8gfBsqowzjJe2iM6n0nKciPUp8y+7E="
  crossorigin="anonymous"></script>
  
  <script>
    document.addEventListener("DOMContentLoaded", function() {
      var macros={
              "\\C":"\\mathbb{C}",
              "\\F":"\\mathbb{F}",
              "\\e": "\\varepsilon",
              "\\eps": "\\varepsilon",
              "\\argmin": "\\DOTSB\\mathop{\\operatorname{arg\\,min}}\\limits",
              "\\argmax": "\\DOTSB\\mathop{\\operatorname{arg\\,max}}\\limits",
              "\\mex": "\\mathop{\\operatorname{mex}}",
              "\\lcm": "\\mathop{\\operatorname{lcm}}",
              "\\dist": "\\mathop{\\operatorname{dist}}",
              "\\bigtriangleright": "{\\mathop{\\Large \\triangleright}}",
              "\\bigtriangleleft": "{\\mathop{\\Large \\triangleleft}}",
              '\\set':'\\left\\{ #1 \\right\\}',
              '\\floor':'\\left\\lfloor #1 \\right\\rfloor',
              '\\ceil':'\\left\\lceil #1 \\right\\rceil',
              '\\abs':'\\left\\| #1 \\right\\|'
              }
    var mathElements = document.getElementsByClassName("math");
    for (var i = 0; i < mathElements.length; i++) {
      var texText = mathElements[i].firstChild;
      if (mathElements[i].tagName == "SPAN") { katex.render(texText.data, mathElements[i], { displayMode: mathElements[i].classList.contains("display"), throwOnError: false, macros:macros} );
    }}});
  </script>
  
  <script>
    function toggle_hidden(c) {
      $(".".concat(c)).toggleClass("hidden");
    }
    document.addEventListener("DOMContentLoaded", function() {
      var toggles = ["exercises", "algorithms", "title", "note", "children", "parents", "tags", "problem-complexity"];
      for (i = 0; i < toggles.length; i++) {
        $( "#toggle-"+toggles[i]).on( "click", function() {
          var p = $( this ).attr("id").substring(7);
          $( "."+p).toggleClass("hidden");
        });
      }
    });
  </script>

  {% if env.production %}
    <!-- Fathom - simple website analytics - https://github.com/usefathom/fathom -->
    <script>
    if(window.location.hostname === "algorange.com"){
      (function(f, a, t, h, o, m){
        a[h]=a[h]||function(){
          (a[h].q=a[h].q||[]).push(arguments)
        };
        o=f.createElement('script'),
        m=f.getElementsByTagName('script')[0];
        o.async=1; o.src=t; o.id='fathom-script';
        m.parentNode.insertBefore(o,m)
      })(document, window, '//track.chaoxuprime.com/tracker.js', 'fathom');
      fathom('set', 'siteId', 'TYDUI');
      fathom('trackPageview');
    }
    </script>
    <!-- / Fathom -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-134134761-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-134134761-1');
    </script>

  {% endif %}
  <link rel="stylesheet" href="default.css?ver={{env.csstime}}">
</head>
<body>


<div class="container">
<nav class="hide-on-print">
  <ul>
    <li><a href=".">Problems</a></li>
    <li><a href="glossary.html">Glossary</a></li>
    <li><a href="https://github.com/chaoxu/algoprob">About</a></li>
  </ul>
</nav>

<form>

  <input type="checkbox" name="show" value="title"  id="toggle-title" checked>
  <label for="toggle-title">Title</label>

  <input type="checkbox" name="show" value="problem-complexity"  id="toggle-problem-complexity" checked>
  <label for="toggle-problem-complexity">Complexity Measures</label>

  <input type="checkbox" name="show" value="algorithms"  id="toggle-algorithms" checked>
  <label for="toggle-algorithms">Algorithms</label>

  <input class="inline" type="checkbox" name="show" value="children" id="toggle-children" checked>
  <label for="toggle-children">Special Cases</label>

  <input class="inline" type="checkbox" name="show" value="parents" id="toggle-parents" checked>
  <label for="toggle-parents">Generalizations</label>

  <input class="inline" type="checkbox" name="show" value="note"  id="toggle-note" checked>
  <label for="toggle-note">Note</label>

  <input type="checkbox" name="show" value="exercises" id="toggle-exercises" checked> 
  <label for="toggle-exercises">Exercises</label>

  <input class="inline" type="checkbox" name="show" value="tags"  id="toggle-tags" checked>
  <label for="toggle-tags">Tags</label>
</form>

<main>
{% block content %}{% endblock %}
</main>

</body>
</html>