{% extends "base.html" %}

{% block title %}
Algorithmic Problems
{% endblock %}

{% block content %}

<div class="problems">
{% for key,problem in problems.items() %}
  <div class="problem" id="problem-{{key}}">

    {% if problem.title %}
    <div class="title">
      {{problem.title}}
    </div>
    {% endif %}

    <div class="formulation">
      <div class="description">
        {{problem.description}}
      </div>

      {% if problem.parameters.input %}
        <div class="input dlist">
          Input:
          <ul>
          {% for parameter in problem.parameters.input %}
              <!--<dt>{{parameter.name}}</dt>-->
              <li>{{parameter.description}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}

      {% if problem.parameters.output %}
        <div class="output dlist">
          Output:
          <ul>
          {% for parameter in problem.parameters.output %}
              <!-- <dt>{{parameter.name}}</dt> -->
              <li>{{parameter.description}}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    </div>

    {% if problem.parameters.complexity %}
      <div class="problem-complexity dlist">
        Complexity measure:
        <dl>
        {% for parameter in problem.parameters.complexity %}
            <dt>{{parameter.name}}</dt>
            <dd>{{parameter.description}}</dd>
          {% endfor %}
        </dl>
      </div>
    {% endif %}

    {% if problem.algorithms %}
    <div class="algorithms">
      {% for algorithm in problem.algorithms %}
        <div class="algorithm">
          <div class="algo-description">{{algorithm.description}}</div>
          {% if algorithm.problem %}
            <div class="algo-problem">
              <ul class="inline">
              {% for id in algorithm.problem %}
                <li><a href="#problem-{{id}}">{{env.id_to_title[id]}}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="algo-complexity">
            <ul class="inline">
              {% for complexity in algorithm.complexity %}
                <li>{{complexity.name}}: {{complexity.description}}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if problem.children %}
    <div class="children">
      <ul>
        {% for child in problem.children  %}
          <li class="child-problem"><a href="#problem-{{child}}">{{env.id_to_title[child]}}</a> 
            <!--: 
            <span class="child-description">{{child.description}}</span>-->
          </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if problem.parents %}
    <div class="parents">
      <ul class="inline">
        {% for parent in problem.parents  %}
          <li><a href="#problem-{{parent}}">{{env.id_to_title[parent]}}</a></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}


    {% if problem.note %}
    <div class="note">
      {{problem.note}}
    </div>
    {% endif %}

    {% if problem.exercises %}
    <div class="exercises">
      {% for exercise in problem.exercises %}
        <div class="exercise">{{exercise}}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if problem.tag %}
    <div class="tags">
      {% for tag in problem.tag %}
        <div class="tag">{{tag}}</div>
      {% endfor %}
    </div>
    {% endif %}

  </div>
{% endfor %}
</div>
{% endblock %}
