{% extends "base.html" %}

{% block title %}
Algorithmic Problems
{% endblock %}

{% block content %}

<div class="problems">
{% for problem in problems %}
  <div class="problem" id="problem-{{problem.id}}">

    {% if problem.title %}
    <div class="title">
      {{problem.title}}
    </div>
    {% endif %}

    <div class="description">
      {{problem.problem}}
    </div>

    {% if problem.note %}
    <div class="note">
      {{problem.note}}
    </div>
    {% endif %}

    {% if problem.exercises %}
    <div class="exercises">
      {% for exercise in problem.exercise %}
        <div class="exercise">{{exercise}}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if problem.tag %}
    <div class="tags">
      {% for tag in problem.tag %}
        <div class="tag">{{tag}}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if problem.opt %}
    <div class="opts">
      {% for opt in problem.opt %}
        <div class="opt">{{opt}}</div>
      {% endfor %}
    </div>
    {% endif %}

    {% if problem.algorithms %}
    <div class="algorithms">
      {% for algorithm in problem.algorithms %}
        <div class="algorithm">
          <div class="algo-description">{{algorithm.description}}</div>
          {% if algorithm.problem %}
            <div class="algo-problem">
              <ul class="inline">
              {% for id in algorithm.problem %}
                <li><a href="#problem-{{id}}">{{env.id_to_title[id]}}</a></li>
              {% endfor %}
              </ul>
            </div>
          {% endif %}
          <div class="algo-complexity">{{algorithm.complexity}}</div>
        </div>
      {% endfor %}
    </div>
    {% endif %}

    {% if problem.children %}
    <div class="children">
      <ul>
        {% for child in problem.children  %}
          <li class="child-problem"><a href="#problem-{{child.id}}">{{env.id_to_title[child.id]}}</a> : 
            <span class="child-description">{{child.description}}</span></li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}

    {% if problem.parents %}
    <div class="parents">
      <ul class="inline">
        {% for parent in problem.parents  %}
          <li><a href="#problem-{{parent}}">{{env.id_to_title[parent]}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}




  </div>
{% endfor %}
</div>
{% endblock %}
